*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: Roboto-Regular;
    src: url(../asset/Roboto-Regular.ttf);
}
body{
    font-family: Roboto-Regular;
}
.container{
    max-width: 1200px;
    padding: 0px 10px;
    margin: auto;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #cdcdcd;
}
.navbar .flex{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}
.navbar .flex .nav-brand a{
    text-decoration: none;
    display: inline-block;
}
.navbar .flex .nav-brand a img{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.navbar .btn .bi-list{
    display: block !important;
    padding: 5px 8px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    background-color: #14B8A6;
}
.navbar .btn .bi-x-circle{
    /* width: 50px; */
    padding: 5px 8px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    background-color: #cdcdcd;
    display: inline-block;
    /* margin-left: 40px; */
}

.navbar .nav-navbar{
    display: none !important;
    list-style: none;
}
.navbar .nav-navbar .nav-item .nav-link{
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    color: #272727;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s ease-in-out all;
}
.navbar .nav-navbar .nav-item .nav-link:hover{
    color: #14B8A6;
    transition: 0.3s ease-in-out all;
}
.navbar .nav-navbar .nav-item .menu-color{
    color: #14B8A6;
}
.navbar .nav-navbar .nav-item .btn-link{
    padding: 10px 25px;
    background-color: #14B8A6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
}
.navbar .nav-navbar .nav-item .btn-link:hover{
    color: #272727;
}

/* dropdown */
.dropdown{
    position: fixed;
    height: 100vh;
    width: 280px;
    list-style: none;
    background-color: #ffffff75;
    border: 1px solid #cdcdcd;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    z-index: 111;
    padding: 20px 10px;
    backdrop-filter: blur(10px);
    
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid #cdcdcd;
}

.menu .txt-menu{
    font-size: 30px;
    font-weight: 600;
    color: #797979;
}
.dropdown .dropdown-item{
    width: 100%;
}
.dropdown .dropdown-item .link-dropdown{
    width: 100%;
    text-decoration: none;
    color: #272727;
    padding: 8px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    transition: 0.3s ease-in-out all;
}
.dropdown .dropdown-item .ba-color{
    background-color: #14B8A6;
    color: #fff;
    text-align: center;
}
.dropdown .dropdown-item .link-dropdown:hover{
    color: #14B8A6;
    background-color: #cdcdcd5a;
    transition: 0.3s ease-in-out all;
}
.dropdown .dropdown-item .color-txt{
    color: #14B8A6;
    background-color: #cdcdcd5a;
}
.overlay{
    opacity: 0;
    visibility: hidden;
}
input{
    display: none;
}
input:checked ~ .overlay{
    opacity: 1;
    visibility: visible;
}

/* banner */
.row{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.banner{
    padding: 80px 0px;
    display: flex;
    justify-content: center;
}
.banner .row{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.banner .row .col-7{
    padding: 30px;
    max-width: 700px;
    height: 500px;
    display: flex;
    align-items: center;
    text-align: center;
    order: 1;
}
.banner .row .col-7 .txt .big-txt{
    font-size: 45px;
    font-weight: 600;
    max-width: 680px;
}
.banner .row .col-7 .txt .txt-less-color{
    margin-top: 20px;
    font-size: 20px;
    max-width: 680px;
    color: #797979;
    
}
.banner .row .col-7 .txt .btn-link{
    text-decoration: none;
    padding: 0px 20px;
    background-color: #14B8A6;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    font-size: 17px;
}
.banner .row .col-7 .txt .bi-arrow-right{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    display: inline-block;
}.banner .row .col-7 .txt .btn-link:hover .bi-arrow-right{
    animation-name: right-left;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function: ease-out;
    animation-play-state: running;
}
@keyframes right-left{
    50%{left: -20%;transform: translatex(20%);}
}
.banner .row .col-5{
    order: 0;
    padding: 30px;
    max-width: 400px;
    height: 400px;
    animation-name: change-position;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
}
@keyframes change-position{
    50%{top: 5%;transform: translateY(-5%);}
}
.banner .row .col-5 .circle-box{
    min-width: 100%;
    height: 100%;
    background-color: #14B8A6;
    border-radius: 50%;
}
.banner .row .col-5 img{
    max-width: 100%;
    height: 100%;
}

/* sec-1 */
.sec-1{
    margin-top: -80px;
}
.sec-1 .col-7{
    padding:0px 0px;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
}
.sec-1 .col-5{
    padding: 20px;
    max-width: 600px;
    height: 500px;
    display: flex;
    align-items: center;
}
.sec-1 .col-7 .box-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec-1 .col-7 .box-img .box-txt{
    width: 150px;
    height: 150px;
    background-color: #fff; 
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sec-1 .col-7 .box-img .box-txt .big-txt{ 
    font-size: 30px;
    font-weight: 600;
    color: #14B8A6;
}
.sec-1 .col-7 .box-img .box-txt .txt{ 
    width: 100px;
}
.sec-1 .col-5 .txt .txt-color{
    font-size: 14px;
    font-weight: 600;
    color: #14B8A6;
    margin-bottom: 20px;
    max-width: 600px;
}
.sec-1 .col-5 .txt .big-txt{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    max-width: 680px;
}
.sec-1 .col-5 .txt .txt-less-color{
    font-size: 18px;
    margin-bottom: 30px;
    color: #797979;
    max-width: 680px;
}
.sec-1 .col-5 .txt .btn-link{
    font-size: 18px;
    padding: 10px 20px;
    background-color: #14B8A6;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}
.sec-1 .col-5 .txt .btn-link .bi-arrow-right{
    margin-left: 10px;
}

/* sec-2 */
.sec-2{
    max-width: 100%;
    max-height: 100%;
    padding: 0px 0px;
}
.sec-2 .big-txt{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}
.sec-2 .box-txt .txt2{
    display: flex;
    justify-content: center;
}
.sec-2 .txt-less-color{
    height: 100%;
    width: 600px;
    font-size: 18px;
    margin-bottom: 30px;
    color: #797979;
    text-align: center;
}
.sec-2 .row .col-3{
    width: calc(1200px /4);
    height: 322px;
    padding: 10px;
    flex-grow: 1;
}
.sec-2 .row .col-3 .card{
    width: 100%;
    height: 100%;
    border: 1px solid #cdcdcd;
    padding: 20px;
    
}
.sec-2 .row .col-3 .card .box-icon .bi-bar-chart-fill{
    font-size: 20px;
    padding: 13px;
    border-radius: 50%;
    background: linear-gradient(#14b8a51f,white);
    display: inline-block;
    transition: 0.3s ease-in-out all;
}
.sec-2 .row .col-3 .card:hover .bi-bar-chart-fill{
    background: linear-gradient(#14b8a542,white);
    transition: 0.3s ease-in-out all;
}
.sec-2 .row .col-3 .card .big-txt2{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    text-decoration: none;
    transition: 0.3s ease-in-out all;
    color: #272727;
    display: inline-block;
}
.sec-2 .row .col-3 .card .big-txt2:hover{
    color: #14B8A6;
    transition: 0.3s ease-in-out all;
}
.sec-2 .row .col-3 .card .txt-less-color2{
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
    color: #797979;
}
.sec-2 .row .col-3 .card .btn-link{
    font-size: 18px;
    margin-top: 20px;
    text-decoration: none;
    color: #14B8A6;
    display: inline-block;
}

@media screen and (min-width:268px){
    .sec-2 .row .col-3{
        width: 100%;
    }
    .container{
        max-width: 1200px;
    }
    .row{
        align-items: center;
    }
}
@media screen and (min-width:768px){
    
    .banner .row .col-5 {
        padding: 30px;
    }
    .banner .row .col-5{
        min-width: 500px;
        height: 500px;
    }
    .sec-1 .col-7{
        min-width: 500px;
        height: 500px;
        padding: 30px;
    }
    .sec-1 .col-5{
        padding: 30px;
        width: 600px;
        height: 500px;
    }
    .sec-1 .col-7 .box-img .box-txt{
        width: 200px;
        height: 200px;
        background-color: #fff; 
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .sec-1 .col-7 .box-img .box-txt .big-txt{ 
        font-size: 40px;
        font-weight: 600;
        color: #14B8A6;
    }
    .sec-1 .col-7 .box-img .box-txt .txt{ 
        width: 100px;
    }
    .sec-1{
        padding: 150px 0px;
    }
    .sec-2{
        padding: 10px 0px;
    }
    
}
@media screen and (min-width:992px){
    .navbar .btn .bi-list{
        display: none !important;
    }
    .banner .row .col-5 {
        order: 1;
    }
    .banner .row .col-7 {
        order: 0;
    }
    .banner .row .col-7{
        text-align:start;
    }
    .navbar .nav-navbar{
        display: flex !important;
        list-style: none;
    }
    .container{
        padding: 0px 50px;
    }
    .banner .row .col-5 {
        padding: 20px;
    }
    .sec-2 .row .col-3{
        width: calc(1200px /3);
        flex-grow: 0;
    }
    .sec-2{
        padding: 10px 0px;
    }
    .row{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .wrap{
        flex-wrap: wrap;
    }
}
@media  screen and (min-width: 1200px) {
    .banner .row .col-5 {
        padding: 0px;
    }
    .sec-1 .col-7{
        padding: 0px;
    }
    .row{
        flex-wrap: nowrap;
    }
   
}
